[submodule "libmlx"]
	path = libmlx
	url = https://github.com/42Paris/minilibx-linux.git
[submodule "libftprintf"]
	path = libftprintf
	url = https://github.com/Neko-Sato/42cursus-ft_printf
[submodule "libft"]
	path = libft
	url = https://github.com/Neko-Sato/42cursus-libft.git
